source_up .envrc

source .env_secrets

# Check for Python version and use correct layout
if [[ $(python --version | awk '/^Python/ {split($0, a, " "); split(a[2], b, "."); print b[1]}') == 3 ]]
then
  layout python
else
  layout python3
fi
